root { 
    display: block;
}
.bar-chart {
    -fx-alternative-row-visible: false;
    -fx-alternative-column-visible: false;
    -fx-horizontal-grid-lines-visible: false;
    -fx-vertical-grid-lines-visible:false;
    -fx-horizontal-zero-line-visible: false;
    -fx-vertical-zero-line-visible: false;
    -fx-legend-visible: false;
    -fx-font-size:20;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.axis {
    -fx-border-color: transparent;
    -fx-tick-mark-visible: true;
    -fx-minor-tick-visible: false;
    -fx-tick-labels-visible: true;
    -fx-tick-label-font-size: 20;
    -fx-font-size: 20;
}

.axis-label {  
	-fx-font-size: 20;
}
.label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#welcome-text {
   -fx-font-size: 32px;
   -fx-font-family: "Arial Black";
   -fx-fill: #000000;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}
.data0.chart-bar {
  -fx-bar-fill: #FE0879; 
}
.data1.chart-bar {
  -fx-bar-fill: #FF82E2; 
}
.data2.chart-bar {
  -fx-bar-fill: #FED715; 
}
.data3.chart-bar {
  -fx-bar-fill: #0037B3; 
}
.data4.chart-bar {
  -fx-bar-fill: #70BAFF; 
}
.data5.chart-bar {
  -fx-bar-fill: #03BFAC; 
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-font-size:20;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.list-cell {
	-fx-alignment: center ;
	-fx-font-size:32;
}

.text-field{
	-fx-font-size:20;
}